*{
  margin:0px;
  padding: 0px;
  font-family: 'Noto Sans KR';
  color:#262626;
}

.App{
  padding:50px 100px 50px 100px;
}

.div_Navigate_rootBoard>.title{
  font-size:36px;
  font-weight: 700;
}

.div_Navigate_rootBoard>.subTitle{
  font-size:18px;
  color:#7e7e7e
}

.div_Navigate_btnArea{
  padding-top:20px;
  margin-bottom:30px;
}

.div_Navigate_btnArea>button{

  font-size:18px;
  width:120px;
  height:50px;
  border-radius: 50px;
  border:none;
  background-color: #e8e8e8;
  /* border: 2px solid #bababa; */
  margin-bottom: 5px;
  transition: 0.5s;
}

.div_Navigate_btnArea>button:hover {
  color:white;
  cursor:pointer;
  background-size: 250% auto;
  background-position: right center;
  background-image: linear-gradient(to right, #a0b3c1 0%, #0d5adf 51%, #ffb2d2 100%);
   /* change the direction of the change here */
  /* background-image: linear-gradient(to right, #a0b3c1 0%, #0d5adf 51%, #4a07be 100%); */
}

.div_Navigate_btnArea>button:active{
  color:white;


}

.div_Navigate_btnArea .selector{
  color:white;
  background-color: #0d5adf;
}

.div_Navigate_btnArea>button:not(:last-child){
  margin-right: 7px;
}

.div_Quiz2_rootBoard{
  position: absolute;
}

.div_Quiz2_rootBoard img{
  position: absolute;
  width:100px;
}
.div_Quiz2_rootBoard img:nth-child(1){
  z-index: 0;
}
.div_Quiz2_rootBoard img:nth-child(2){
  z-index: 1;
  margin-left:10px;
  margin-top:20px;
}
.div_Quiz2_rootBoard img:nth-child(3){
  z-index: 2;
  margin-left:20px;
  margin-top:40px;
}
.div_Quiz2_rootBoard img:nth-child(4){
  z-index: 3;
  margin-left:30px;
  margin-top:60px;
}


.header1{
  font-weight: 700;
  font-size:40px;
}

.header2{
  font-weight: 700;
  font-size:32px;
}
.header3{
  font-weight: 500;
  font-size:28px;
}
.header4{
  font-weight: 500;
  font-size:24px;
}
.header5{
  font-weight: 500;
  font-size:20px;
}



.div_Quiz1_content{
  display: flex;
  background-color: skyblue;
}

.img_Quiz1{
  margin-left: 300px;
  width:100px;
  background-image: url("../public/spongebob.png");
  background-size: contain;
}

.div_Quiz2_contents table{
  border: 1px solid #262626;
  border-collapse: collapse;
  width:200px;

}

.div_Quiz2_contents th{
  border: 1px solid #262626;
  color:rgb(255, 0, 68);
  background-color: skyblue;
  height:20px;
  padding: 10px;
}

.div_Quiz2_contents tr td{
  border: 1px solid #262626;
  width:100px;
  height:20px;
  text-align: center;
  padding: 10px;
}

.div_Quiz2_contents tr:nth-child(odd){
  background-color: rgb(0, 255, 179);
}

.div_Quiz3_contents table{
  background-color: yellow;
  border-collapse: collapse;
}

.div_Quiz3_contents table th{
  width:30px;
  height:10px;
  border: 0.2px solid #262626;
}

.div_Quiz3_contents table td{
  width:30px;
  height:10px;
  border: #262626 solid 0.1px;
  border-collapse: collapse;
}

